.admincard {
  position: relative;
  height: auto;
  background-color: #fff;
  padding: 10px 50px 30px;
  margin-bottom: 20px;
  img {
    width: 50px;
  }
}


table {text-align: center;}
 
td, th {
    padding: 10px 0;
}