<!-- CATEGORY BACKGROUND-->
<div class="cat-back" ng-style="{'background-image':'url('+catBack+')'}">
  <h1>{{category}}</h1>
</div>
<!-- POSTS -->
<div class="category-card">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l4 xl3" ng-repeat="card in cards | filter:category | filter:query">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#/id/{{card._id.$oid}}" ng-click="getId(this)"><img ng-src="{{card.img}}"></a>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{card.title}}<i class="material-icons right">more_vert</i></span>
            <a href="{{card.source}}" class="waves-effect waves-light btn">Download</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{card.title}}<i class="material-icons right">close</i></span>
            <p>{{card.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
